<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BFDFlix</title>
</head>
<body>
    <h1>Bem-vindo ao BFDFlix!</h1>
    <h2>Sua plataforma de aulas</h2>
    <br/>
    <a href="http://127.0.0.1:8000/admin" 
   style="text-decoration: none;">
    <button style="background-color: blue; 
                   color: white; 
                   padding: 10px 20px; 
                   border: none; 
                   border-radius: 5px; 
                   cursor: pointer;">
        Gerenciar
    </button>
</a>
</body>
<footer>
    <p>© 2024 BFDFlix. Todos os direitos reservados.</p>
</footer>
</html>